html {
  position: relative;
  min-height: 100%;
}

body {
	background-color:#262626;
	/* Margin bottom by footer height */
  	margin-bottom: 60px;
}

#wrap {
	background-color:#262626;
	color:#646464;
}

#header {
	background-color: #93BD11;
	height:70px;
}

#title {
	color: #997E7A;
	text-align:center;
	font-family: Comic 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	padding-top:16px;
}

#buttonArea{
	margin-top:10px;
}

.btn {
	margin:3px;
}

#gifArea {
	margin-top:20px;
}

.orangeBorder {
	border-radius: 5px;
	border: 2px solid orange;
}

.submit {
	background-color: #262626;
	color:white;
	border:1px solid #646464;
}



.clear {
	clear:both;
}
